*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
a{
    text-decoration: none;
    color: #333;
}
h1,h2,h3{
    padding-bottom: 20px;
}
p{
    margin: 10px 0;
}

#navbar{
    background-color: #333;
    color: white;
    overflow: auto;
}
.container{
    margin: auto;
    padding: 0 20px;
    overflow: auto; 
    max-width: 1100px;
}
#navbar a{
    color: white;
}
#navbar h1{
    float: left;
    padding-top: 20px;
}
#navbar ul{
    float: right;
    list-style: none;
}
#navbar li{
    float: left;
}
#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: centera;
}
#navbar ul li a:hover,
#navbar ul li a.current{
    background-color: #444;
    color: #f7c08a;
}
#showcase{
    background:url('../img/showcase.jpg') no-repeat
    center center/cover ;
    height: 450px;
}
#showcase .showcase-content{
    color: white;
    text-align: center;
    padding-top: 170px;
}
#showcase .showcase-content h1{
    font-size: 50px;
    line-height: 1.2em;
}
.text-primary{
    color: #f7c08a;
}
.lead{
    font-size: 15px;
}
#showcase .showcase-content p{
    padding-bottom: 10px;
    line-height: 1.5em;
}
.btn{
    display: inline-block;
    font-size: 14px;
    background-color: #333;
    color: white;
    padding:10px 20px;
    border: none;
    cursor:pointer;
}
.btn:hover{
    background-color: #f7c08a;
    color:#333;
}
.btn-light{
    background: #f4f4f4;
    color: #333     ;
}
#home-info{
    height: 400px;
}
#home-info .info-img{
    float: left;
    width: 50%;
    background: url('../img/photo-1.jpg') no-repeat;
    min-height: 100%;
}
#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 35px;
    overflow:  hidden;   
}
.bg-dark{
    background: #333;
    color: white;
}
.bg-light{
    background: #f4f4f4;
    color:#333;  
}
.bg-primary{
    color: #333;
    background:#f7c08a;
}
.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center ;
}
.box i{
    margin-bottom: 10px;
} 

#main-footer{
    text-align: center;
    background: #444;
    color: white;
    padding:20px; 
}
.clr{
    clear: both;

}
#about-info .info-right{
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img{
   display: block;
    width: 70%;
    margin: auto;
    border-radius: 50%;
}
#about-info .info-left{
    float: left;
    width: 50%;
    min-height: 100%;
}
.l-heading{
    font-size: 40px;
}
.py-1{ padding: 10px 0;}
.py-2{ padding: 20px 0;}
.py-3{ padding: 30px 0;}

#testimonials{
    height: 600px;
    background: url('../img/test-bg.jpg') no-repeat
        center center/cover;
    padding-top: 100px;
}
#testimonials h2{

    color: white;
    text-align: center;
    padding-bottom: 40px ;
}
#testimonials .testimonial{ 
    padding:20px;
    margin-bottom: 40px;
    border-radius: 5px ;
    opacity: 0.9;
     
}
#testimonials .testimonial img{
    width: 100px;
    float: left; 
    margin-right: 20px;
    border-radius: 50% ;
}
#contact-form .form-group{
   margin-bottom: 20px;  
}

#contact-form label{
    display: block;
}
#contact-form input,
#contact-form textarea{
    padding: 10px;
    width: 100%;
    border: 1px #ddd solid;
}
#contact-form textarea{
    height: 200px;
}
#contact-form input:focus,
#contact-form textarea :focus{
    outline: none;
    border-color: #f7c08a;
}